<div class="tile candidate">
    <div class="candidate-container">
        <img class="candidate-img" src="../assets/images/candidate.jpg">
        <div class="candidate-wrapper">
            <div class="candidate-name">Мария Николаевна</div>
            <div class="tags">
                <div class="tag tag-time"><i class="las la-clock"></i>Полный день</div>
                <div class="tag tag-city"><i class="las la-map-marker"></i>Москва</div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-186">смотреть резюме</a>
</div>