<div class="employer-details container-top">
    <div class="employer-details-wrapper">
        <div class="employer-details-logo"><img src="../assets/images/partner4.png"></div>
        <div class="employer-details-body">
            <div class="employer-details-name">Название компании работодателя может быть длинное</div>
            <div class="tags employer-details-tags">
                <div class="tag tag-city"><i class="las la-map-marker"></i>Москва</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <a href="#" class="btn btn-186"><i class="lar la-heart"></i>в избранное</a>
        <a href="#" class="btn btn-filled btn-186">откликнуться</a>
    </div>
</div>
