<div class="accordion filter">
    <div class="accordion-item">
        <div class="accordion-header" id="filter1">
            <div class="accordion-title" data-toggle="collapse" data-target="#collapse-filter1" aria-expanded="false" aria-controls="collapse-filter1">
                Функция
            </div>
        </div>
        <div class="accordion-body collapse" id="collapse-filter1" aria-labelledby="filter1">
            <form>
                <div class="filter-group form-check">
                    <input type="checkbox" class="custom-check" id="f1-1">
                    <label class="custom-check-label" for="f1-1">Внутрикорпоративный юрист</label>
                </div>
                <div class="filter-group form-check">
                    <input type="radio" class="custom-check" id="f1-2">
                    <label class="custom-check-label" for="f1-2">Юридическая фирма</label>
                </div>
                <div class="filter-group form-check">
                    <input type="radio" class="custom-check" id="f1-3">
                    <label class="custom-check-label" for="f1-3">Адвокат</label>
                </div>
                <div class="filter-group form-check">
                    <input type="radio" class="custom-check" id="f1-4">
                    <label class="custom-check-label" for="f1-4">Бэк-офис юр. функции</label>
                </div>
                <div class="filter-group form-check">
                    <input type="radio" class="custom-check" id="f1-5">
                    <label class="custom-check-label" for="f1-5">Другое</label>
                </div>
            </form>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="filter2">
            <div class="accordion-title" data-toggle="collapse" data-target="#collapse-filter2" aria-expanded="false" aria-controls="collapse-filter2">
                Уровень
            </div>
        </div>
        <div class="accordion-body collapse" id="collapse-filter2" aria-labelledby="filter2">
            <form>
                <div class="filter-group form-check">
                    <input type="checkbox" class="custom-check" id="f2-1">
                    <label class="custom-check-label" for="f2-1">Внутрикорпоративный юрист</label>
                </div>
                <div class="filter-group form-check">
                    <input type="radio" class="custom-check" id="f2-2">
                    <label class="custom-check-label" for="f2-2">Юридическая фирма</label>
                </div>
            </form>
        </div>
    </div>
<!--
    <div class="filter-title">Специализация</div>
    <div class="filter-title">Опыт работы</div>
    <div class="filter-title">Индустрия</div>
    <div class="filter-title">Занятость</div>
    <div class="filter-title">Уровень з/п</div>
-->
</div>
<button type="submit" class="btn btn-filled">ПРИМЕНИТЬ</button>