<h2>Последняя активность</h2>
<div class="row row-cols-1">
    <div class="col">
        <div class="tile action">
            <div class="delete action-delete"></div>
            <div class="action-icon action-refresh"></div>
            <div class="action-content">
                <div class="action-text">Вы обновили вакансию <span>Название вакансии</span></div>
                <div class="action-time">2 часа назад</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="tile action">
            <div class="delete action-delete"></div>
            <div class="action-icon action-resume"></div>
            <div class="action-content">
                <div class="action-text">Вы обновили свое резюме</div>
                <div class="action-time">2 часа назад</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="tile action">
            <div class="delete action-delete"></div>
            <div class="action-icon action-profile"></div>
            <div class="action-content">
                <div class="action-text">Кто-то просмотрел ваш профиль</div>
                <div class="action-time">2 часа назад</div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="tile action">
            <div class="delete action-delete"></div>
            <div class="action-icon action-favorite"></div>
            <div class="action-content">
                <div class="action-text">Вы сохранили резюме <span>Имя Фамилия</span> в избранное</div>
                <div class="action-time">2 часа назад</div>
            </div>
        </div>
    </div>
</div>