<h2>Статистика профиля</h2>
<div class="row row-cols-1 row-cols-xl-3">
    <div class="col">
        <div class="tile stat">
            <div class="stat-number text-red">~ 2 ~</div>
            <div class="text-regular">Компании, которыми вы управляете</div>
        </div>
    </div>
    <div class="col">
        <div class="tile stat">
            <div class="stat-number text-green">~ 67~</div>
            <div class="text-regular">Вакансий опубликовано</div>
        </div>
    </div>
    <div class="col">
        <div class="tile stat">
            <div class="stat-number text-blue">~ 12 ~</div>
            <div class="text-regular">Резюме в избранном</div>
        </div>
    </div>
</div>