<div class="avatar-upload">
    <div class="avatar-edit">
        <input type="file" id="imageUpload" class="file-custom" accept=".png, .jpg, .jpeg">
        <label for="imageUpload" class="file-label">Изменить аватар</label>
    </div>
    <div class="avatar-preview">
        <div id="imagePreview"></div>
    </div>
</div>
<form class="needs-validation" novalidate>
    <div class="subsection">
        <h3>Основная информация</h3>
        <div class="form-group">
            <label for="name" class="label-normal">Имя</label>
            <input type="text" id="name" class="form-control" placeholder="Имя" required>
        </div>
        <div class="form-group">
            <label for="surname" class="label-normal">Фамилия</label>
            <input type="text" id="surname" class="form-control" placeholder="Фамилия" required>
        </div>
        <div class="form-group">
            <label for="email" class="label-normal">Email</label>
            <input type="text" id="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="phone" class="label-normal">Телефон</label>
            <input type="text" id="phone" class="form-control" placeholder="Телефон" required>
        </div>
        <div class="form-group">
            <label for="city" class="label-normal">Город</label>
            <input type="text" id="city" class="form-control" placeholder="Город" required>
        </div>
    </div>
    <div class="subsection">
        <h3>Социальные сети</h3>
        <div class="form-group">
            <label for="facebook" class="label-normal">Facebook</label>
            <input type="text" id="facebook" class="form-control" placeholder="facebook.com/username">
        </div>
        <div class="form-group">
            <label for="vk" class="label-normal">VK</label>
            <input type="text" id="vk" class="form-control" placeholder="vk.com/username">
        </div>
        <div class="form-group">
            <label for="linkedin" class="label-normal">Linkedin</label>
            <input type="text" id="linkedin" class="form-control" placeholder="linkedin.com/username">
        </div>
        <div class="form-add">+ Добавить</div>
    </div>
    <div class="subsection">
        <h3>Изменение пароля</h3>
        <div class="form-group">
            <label for="password_old" class="label-normal">Текущий пароль</label>
            <input type="password" id="password_old" class="form-control" placeholder="•••••••••" required>
        </div>
        <div class="form-group">
            <label for="password_new" class="label-normal">Новый пароль</label>
            <input type="password" id="password_new" class="form-control" placeholder="•••••••••" required>
        </div>
        <div class="form-group">
            <label for="password_repeat" class="label-normal">Повторите пароль</label>
            <input type="password" id="password_repeat" class="form-control" placeholder="•••••••••" required>
        </div>
        <div class="actions">
            <button type="submit" class="btn btn-filled btn-green">сохранить изменения</button>
            <a href="#" class="btn btn-transparent">Удалить профиль</a>
        </div>
    </div>
</form>