<div class="tile vacancy vacancy-editable">
    <a href="#" class="delete vacancy-delete"></a>
    <div class="vacancy-logo"><img src="../assets/images/partner4.png"></div>
    <div class="vacancy-container vacancy-editable-container">
        <div class="vacancy-top">
            <div class="date"><i class="las la-calendar"></i>26 апреля 2019</div>
        </div>
        <div class="vacancy-title">Заголовок вакансии. Может быть короткий, а может и длинный в две строки, вот такой как сейчас.</div>
        <div class="tags">
            <div class="tag tag-employer"><i class="las la-briefcase"></i>Antitrust</div>
            <div class="tag tag-city"><i class="las la-map-marker"></i>Москва</div>
            <div class="tag tag-time"><i class="las la-clock"></i>Полный день</div>
        </div>
    </div>
</div>