<div class="job-container container-top">
    <div class="job-wrapper">
        <div class="vacancy-top">
            <div class="date job-date"><i class="las la-calendar"></i>26 апреля 2019</div>
        </div>
        <div class="job-title">Заголовок вакансии. Может быть короткий, а может длинный в две строки</div>
        <div class="tags">
            <div class="tag tag-employer"><i class="las la-briefcase"></i>Antitrust</div>
            <div class="tag tag-city"><i class="las la-map-marker"></i>Москва</div>
            <div class="tag tag-time"><i class="las la-clock"></i>Полный день</div>
        </div>
    </div>
    <div class="actions">
        <a href="#" class="btn btn-186"><i class="lar la-heart"></i>в избранное</a>
        <a href="#" class="btn btn-filled btn-186">откликнуться</a>
    </div>
</div>

