<div class="tile vacancy">
    <a href="#" class="vacancy-like"><i class="lar la-heart"></i></a>
    <div class="vacancy-logo vacancy-logo-large"><img src="../assets/images/partner4.png"></div>
    <div class="vacancy-container">
        <div class="vacancy-top">
            <div class="date"><i class="las la-calendar"></i>26 апреля 2019</div>
            <div class="label label-single">Партнерская вакансия</div>
        </div>
        <div class="vacancy-title vacancy-title-large">Заголовок вакансии. Может быть короткий, а может и длинный в две строки, вот такой как сейчас.</div>
        <div class="tags">
            <div class="tag tag-employer"><i class="las la-briefcase"></i>Antitrust</div>
            <div class="tag tag-city"><i class="las la-map-marker"></i>Москва</div>
            <div class="tag tag-time"><i class="las la-clock"></i>Полный день</div>
        </div>
    </div>
    <a href="#" class="btn btn-186">откликнуться</a>
</div>