<div class="vacancy-container container-top">
    <div class="vacancy-wrapper">
        <div class="date"><i class="las la-calendar"></i>26 апреля 2019</div>
        <h2>Заголовок вакансии. Может быть короткий, а может длинный в две строки</h2>
        <div class="tags">
            <div class="tag tag-time"><i class="las la-clock"></i>Полный день</div>
            <div class="tag tag-employer"><i class="las la-briefcase"></i>Antitrust</div>
            <div class="tag tag-city"><i class="las la-map-marker"></i>Москва</div>
        </div>
    </div>
    <div class="actions">
        <a href="#" class="btn"><i class="lar la-heart"></i>в избранное</a>
        <a href="#" class="btn btn-filled">откликнуться</a>
    </div>
</div>

