fontRegular = Rubik
fontMedium = RubikMedium
fontItalic = RubikItalic
fontRegularAlt = RobotoSlab
fontBold = RobotoSlabBold

colorWhite = #ffffff
colorBlack = #333333
colorGrey = #706c71
colorGreyTransparent50 = rgba(112, 108, 113, 0.5)
colorGreyTransparent30 = rgba(112, 108, 113, 0.3)
colorRed= #e2001a
colorGreen = #63ae25
colorOrange = #ffa132
colorBlue = #23589e

md = 768px
lg = 960px
xl = 1200px

@font-face
  font-family Rubik
  src url(../assets/fonts/Rubik.woff2) format('woff2'),
  url(../assets/fonts/Rubik.woff) format('woff')

@font-face
  font-family RubikMedium
  src url(../assets/fonts/Rubikmedium.woff2) format('woff2'),
  url(../assets/fonts/Rubikmedium.woff) format('woff')

@font-face
  font-family RubikItalic
  src url(../assets/fonts/Rubikitalic.woff2) format('woff2'),
  url(../assets/fonts/Rubikitalic.woff) format('woff')

@font-face
  font-family RobotoSlab
  src url(../assets/fonts/Robotoslabregular.woff2) format('woff2'),
  url(../assets/fonts/Robotoslabregular.woff) format('woff')

@font-face
  font-family RobotoSlabBold
  src url(../assets/fonts/Robotoslabbold.woff2) format('woff2'),
  url(../assets/fonts/Robotoslabbold.woff) format('woff')

//outline fix
input
textarea
  resize none
  &:focus
    outline none!important
    box-shadow none!important

button
.btn
a
  display inline-block
  color inherit
  text-decoration none
  &:hover
  &:focus
    outline none
    color inherit
    text-decoration none
    box-shadow none

button
  padding 0
  border 0

ul
  padding 0
  margin 0
  list-style none

//bootstrap macOs fix
.row
  &::before
  &::after
    display inline-block !important
    content normal

//** General **//
body
  position relative
  font-family fontRegular, Arial, sans-serif
  font-size 14px
  color colorGrey
  line-height 1
  background-color colorWhite

img
  max-width 100%
  max-height 100%

.container

  @media (min-width xl)
    max-width 1140px

section
  margin 60px 0 80px

  @media (min-width xl)
    margin 0 0 90px

.list
  li
    list-style-type none
    display flex
    &::before
      content ""
      background colorBlack
      width 5px
      height 5px
      border-radius 100%
      margin 0.6em 10px 0 0
    &+li
      margin-top 10px

.tile
  position relative
  display flex
  flex-direction column
  background colorWhite
  border-radius 4px
  padding 15px
  margin-bottom 15px
  box-shadow 0 4px 40px rgba(0, 0, 0, 0.1)

  @media (min-width xl)
    padding 40px
    margin-bottom 30px
    box-shadow 0 4px 60px rgba(0, 0, 0, 0.1)

.img-promo
  width 100%
  margin-bottom 15px

  @media (min-width xl)
    margin-bottom 30px

.wrapper

  @media (min-width xl)
    background colorWhite
    padding 30px 40px 40px
    box-shadow 0 0 60px rgba(0, 0, 0, 0.1)

//** Text **//
.subtitle
  font-family fontRegular
  font-size 14px
  line-height 1.7
  color colorGrey
  margin-bottom 15px

  @media (min-width xl)
    font-size 16px
    margin-bottom 25px

.subtitle-large

  @media (min-width xl)
    font-size 18px
    margin-bottom 25px

.subtitle-index-top
  width 83%
  margin-bottom 30px

  @media (min-width xl)
    margin-bottom 0

.text-regular
  font-family fontRegular
  font-size 14px
  line-height 1.57
  color colorGrey
  &+.text-regular
    margin-top 10px

  @media (min-width xl)
    font-size 16px

.text-large
  font-family fontRegular
  font-size 16px
  line-height 1.37
  color colorBlack
  margin 10px 0 5px

  @media (min-width xl)
    font-size 18px
    margin 15px 0 10px

.text-bold
  font-family fontMedium
  color colorBlack

.text-green
  color colorGreen

.text-red
  color colorRed

.text-blue
  color colorBlue

//** Breadcrumbs **//
.breadcrumb-wrapper
  position relative
  overflow scroll
  padding 15px 0
  background #fafafa
  margin-bottom 20px

  @media (min-width xl)
    overflow auto
    padding 20px 0
    margin-bottom 40px

.breadcrumb
  flex-wrap nowrap
  white-space nowrap
  padding 0
  border-radius 0
  background-color transparent
  font-family fontRegular
  font-size 12px
  line-height 1.167
  color colorBlack
  margin-bottom 0

  @media (min-width xl)
    font-size 14px

.breadcrumb-item
  display flex
  &.active
    color colorGrey
    opacity 0.4
    padding-right 15px
  &+.breadcrumb-item
    padding-left 10px
    &::before
      height 1em
      padding 0
      margin-right 10px

  @media (min-width xl)
    &+.breadcrumb-item
      padding-left 15px
      &::before
        margin-right 15px

//** Headings **//
h1
.h1
  font-family fontBold
  font-size 23px
  line-height 1.4
  color colorBlack
  margin-bottom 15px
  span
    color colorRed

  @media (min-width xl)
    font-size 36px

h2
.h2
  font-family fontBold
  font-size 20px
  line-height 1.4
  color colorBlack
  margin-bottom 30px

  @media (min-width xl)
    font-size 28px

h3
.h3
  font-family fontBold
  font-size 18px
  line-height 1.4
  color colorBlack
  margin-bottom 15px

  @media (min-width xl)
    font-size 20px

.h1-smaller

  @media (min-width xl)
    font-size 28px

.h2-smaller

  @media (min-width xl)
    font-size 20px

//** Links and buttons **//
.btn
  display inline-flex
  align-items center
  justify-content center
  flex-shrink 0
  width 100%
  height 45px
  padding 0
  border-radius 2px
  border 1px solid colorGreyTransparent30
  font-family fontMedium
  font-size 12px
  text-transform uppercase
  color colorBlack
  &:hover
  &:focus
    color colorWhite
    background colorBlack
    border-color colorBlack
  i
    font-size 18px
    margin-right 10px
  &+.btn
    margin-top 15px

  @media (min-width xl)
    height 52px
    font-size 13px
    i
      font-size 20px
    &+.btn
      margin-top 0
      margin-left 20px

.btn-filled
  color colorWhite
  background colorBlack
  border-color colorBlack
  &:hover
  &:focus
    color colorBlack
    background colorWhite
    border-color colorGreyTransparent30

.btn-login
  display none
  font-family fontMedium
  font-size 13px
  color colorBlack
  text-transform uppercase
  border-radius 2px
  border 1px solid colorGreyTransparent30
  background colorWhite
  svg
    margin-right 4px
  &:hover
  &:focus
    svg
      path
        fill colorWhite

  @media (min-width xl)
    display flex
    width 114px
    height 40px

.btn-green
  color colorWhite
  background colorGreen
  border-color colorGreen
  &:hover
  &:focus
    background colorGreen
    border-color colorGreen

.btn-red
  color colorWhite
  background colorRed
  border-color colorRed
  &:hover
  &:focus
    background colorRed
    border-color colorRed

.btn-transparent
  font-family fontRegular
  font-size 16px
  line-height 1.5
  color colorBlack
  background transparent
  text-transform none
  border none
  &:hover
  &:focus
    color colorBlack
    background transparent

.btn-160

  @media (min-width xl)
    width 160px

.btn-more

  @media (min-width xl)
    width 269px
    margin-top 20px

.btn-186

  @media (min-width xl)
    width 186px

.btn-215

  @media (min-width xl)
    width 215px

.btn-225

  @media (min-width xl)
    width 225px

.link-red
  color colorRed
  &:hover
  &:focus
    color colorRed

//** Header **//
header
.header
  background colorWhite
  box-shadow 0 4px 30px rgba(0, 0, 0, 0.09)

  @media (min-width xl)
    padding 25px 0
    box-shadow none

.header-modal.active
  position fixed
  top 0
  left 0
  right 0
  z-index 9999
  height 100vh
  background-color rgba(66, 66, 66, 0.59)

.nav-modal
  padding 7px 0
  background colorWhite
  border-radius 0 0 4px 4px

  @media (min-width xl)
    padding 0

.navbar-toggler
  padding 0
  border 0

.navbar-toggler .icon-bar
  display block
  width 20px
  height 2px
  background colorBlack
  position relative
  transform rotate(0)
  transform-origin left center
  transition all 0.15s ease

.navbar-toggler .icon-bar+.icon-bar
  margin-top 4px

.navbar-toggler.active .icon-bar:nth-of-type(1)
  transform rotate(45deg)
  top 0

.navbar-toggler.active .icon-bar:nth-of-type(2)
  opacity 0

.navbar-toggler.active .icon-bar:nth-of-type(3)
  transform rotate(-45deg)
  top 2px

.nav
  position relative
  display flex
  align-items center
  justify-content space-between

.nav-center
  justify-content space-between
  flex-grow unset

.nav-right
  position absolute
  top 9px
  right 0
  display flex
  align-items center

  @media (min-width xl)
    position relative
    top auto

.header-logo
  width 102px

  @media (min-width xl)
    width 160px

.header-nav
  display flex
  flex-direction column
  align-items center
  padding 15px 0
  margin-top 7px
  border-top 1px solid colorGreyTransparent30

  @media (min-width xl)
    flex-direction row
    padding 0
    margin 0 -15px
    border-top 0

.header-item
  margin 15px 0

  @media (min-width xl)
    margin 0 15px

.header-link
  font-family fontMedium
  font-size 16px
  line-height 1.18
  color colorBlack
  &:hover
  &:focus
    color colorBlack

.user-icon
  background url("../assets/images/user.svg") no-repeat center
  width 24px
  height 24px
  margin-right 15px

  @media (min-width xl)
    display none


.user-login
  display flex
  align-items center
  img
    width 28px
    height 28px
    border-radius 100%
    margin-right 15px

  @media (min-width xl)
    img
      width 35px
      height 35px
      margin-right 10px
    &::after
      content ""
      background url("../assets/images/arrow-up-rounded.svg") no-repeat center
      width 20px
      height 20px
      margin-left 10px
      transform rotate(-180deg)
      transition 0.5s
    &[aria-expanded='true']
      &:after
        transform rotate(0)

.login-name
  display none

  @media (min-width xl)
    display block
    font-family fontRegularAlt
    font-size 16px
    line-height 1.4
    color colorBlack

.user
  padding 15px 15px 20px
  background colorWhite
  border-radius 0 0 4px 4px
  border 0
  border-top 1px solid colorGreyTransparent30
  top 39px
  left -203px
  right -74px
  margin 0
  font-size inherit
  color inherit
  box-shadow 0 4px 60px rgba(0, 0, 0, 0.1)

  @media (min-width xl)
    top 50px
    left auto
    right 0
    border-top 0
    padding 15px 20px 20px
    box-shadow 0 5px 69px rgba(0, 0, 0, 0.1)

.user-container
  display flex
  margin-bottom 25px

  @media (min-width xl)
    margin-bottom 20px

.user-img
  width 60px
  height 60px
  border-radius 100%
  margin-right 15px

  @media (min-width xl)
    display none

.user-info
  display flex
  flex-direction column

.user-name
  font-family fontBold
  font-size 18px
  line-height 1.4
  color colorBlack
  margin-bottom 5px

  @media (min-width xl)
    font-size 16px

.user-links
  display flex
  flex-direction column

.user-link
  display flex
  align-items center
  &+.user-link
    margin-top 20px

.user-account
  &::before
    content ""
    background url("../assets/images/avatar.svg") no-repeat center
    width 16px
    height 16px
    margin-right 10px

.user-logout
  &::before
    content ""
    background url("../assets/images/logout.svg") no-repeat center
    width 16px
    height 16px
    margin-right 10px

//** Footer **//
footer
.footer
  padding 0 0 15px

  @media (min-width xl)
    padding 25px 0 20px

.footer-top
  align-items center
  margin-bottom 10px

  @media (min-width xl)
    margin-bottom 50px

.footer-logo
  width 122px

  @media (min-width xl)
    width 160px

.social
  text-align right

.link-social
  width 18px
  height 18px
  &+.link-social
    margin-left 10px

  @media (min-width xl)
    width 16px
    height 16px

.footer-nav
  display flex
  flex-wrap wrap
  align-items center
  margin-top 25px

  @media (min-width xl)
    margin-top 0

.footer-item
  margin-right 18px
  margin-bottom 10px
  &:last-of-type
    margin-right 0

  @media (min-width xl)
    margin-right 0
    margin-bottom 0
    margin-left 30px

.footer-link
  font-family fontMedium
  font-size 14px
  line-height 1.7
  color colorBlack

  @media (min-width xl)
    font-size 16px

.footer-links
  display flex
  align-items center
  justify-content space-between
  margin-bottom 15px

  @media (min-width xl)
    justify-content flex-end
    margin-bottom 0

.link
  font-family fontRegular
  font-size 12px
  line-height 1.67
  color colorGrey
  text-decoration underline
  &:hover
  &:focus
    text-decoration underline

  @media (min-width xl)
    font-size 14px
    &+.link
      margin-left 20px

.footer-text
  font-family fontRegular
  font-size 12px
  line-height 1.67
  color colorGrey

  @media (min-width xl)
    font-size 14px

//** Login & Registration **//
.section-login

  @media (min-width xl)
    background url("../assets/images/bg-login.png") no-repeat bottom right
    height 920px
    padding-top 44px
    margin 0
    &+footer
    &+.footer
      position absolute
      bottom 0
      left 0
      right 0

.section-registration

  @media (min-width xl)
    background url("../assets/images/bg-registration.png") no-repeat bottom left
    height 1016px
    padding-top 44px
    margin 0
    &+footer
    &+.footer
      position absolute
      bottom 0
      left 0
      right 0

.form
  margin-top 30px

  @media (min-width xl)
    margin-top 40px

.form-group
  position relative
  margin-bottom 30px

  @media (min-width xl)
    display flex
    align-items center

.form-group-mb-large

  @media (min-width xl)
    margin-bottom 50px

.form-control
  font-family fontRegular
  font-size 16px
  color colorBlack
  background transparent
  height 35px
  padding 0
  display block
  border none
  border-bottom 1px solid colorGreyTransparent50
  border-radius 0
  &:focus
    color colorBlack
    background transparent
    border-color colorBlack
  &::placeholder
    font-size 15px
    color colorGreyTransparent50

  @media (min-width xl)
    height 45px

.custom-control
  &::placeholder
    opacity 0
  &:not(:placeholder-shown)
    &+label
      display none

label
  margin-bottom 0

.label-normal
  font-family fontRegular
  font-size 14px
  line-height 1.7
  color colorGrey
  margin-bottom 15px

  @media (min-width xl)
    font-size 16px
    margin-bottom 0
    flex-shrink 0
    width 160px

.custom-label
  display flex
  align-items center
  color colorGreyTransparent50
  font-size 13px
  position absolute
  pointer-events none
  top calc(50% - 0.5em)
  transition 0.2s ease all
  i
    font-size 16px
    width 1em
    margin-right 5px

  @media (min-width xl)
    font-size 15px
    i
      font-size 18px
      margin-right 8px

.form-check
  padding-left 0
  margin-bottom 20px

.custom-check
.custom-radio
  position absolute
  opacity 0
  z-index -1

.custom-check-label
  font-family fontRegular
  font-size 14px
  line-height 1.7
  color colorGrey
  padding-left 26px
  &:before
  &:after
    position absolute
    content ""
    width 16px
    height 16px
    background-color #e8ecef
    border-radius 2px
    top 3px
    left 0
    margin 0
  &.label-small
    font-size 12px
    line-height 1.67
    &:before
    &:after
      top 0

  @media (min-width xl)
    padding-left 32px
    &:before
    &:after
      width 20px
      height 20px
      top 0
    &.label-small
      font-size 14px

.custom-check
  &:checked
    &~.custom-check-label
      &:before
        background-color colorBlack
      &:after
        left 5px
        top 5px
        width 6px
        height 9px
        border solid colorWhite
        border-width 0 2px 2px 0
        transform rotate(45deg)
        background-color transparent
    &~.custom-check-label
      &.label-small
        &:after
          top 2px

  @media (min-width xl)
    &:checked
      &~.custom-check-label
        &:after
          left 7px
          top 4px
          width 7px
          height 10px
          border-width 0 3px 3px 0
      &~.custom-check-label
        &.label-small
          &:after
            top 4px

.custom-check:not(:disabled):active~.custom-check-label::before
  background-color colorBlack

.radio-label
  font-family fontRegular
  font-size 14px
  line-height 1.7
  color colorBlack
  padding-left 28px
  &:before
  &:after
    position absolute
    content ""
    width 18px
    height 18px
    background-color #e8ecef
    border-radius 100%
    top 1px
    left 0
    margin 0
  span
    display block
    font-family fontMedium
    margin-top 5px

  @media (min-width xl)
    padding-left 35px
    &:before
    &:after
      width 20px
      height 20px

.custom-radio
  &:checked
    &~.radio-label
      &:before
        background-color #e8ecef
      &:after
        background-color colorWhite
        border 5px solid colorGreen

        @media (min-width xl)
          border-width 6px

.custom-radio:not(:disabled):active~.radio-label::before
  background-color #e8ecef

.select-hidden
  display none
  visibility hidden

.select
  position relative
  display flex
  align-items center
  width 100%
  cursor pointer

.select-custom
  display flex
  align-items center
  justify-content space-between
  width 100%
  height 35px
  font-family fontRegular
  font-size 15px
  color colorGreyTransparent50
  border-bottom 1px solid colorGreyTransparent50
  &::after
    content ""
    background url("../assets/images/arrow-down.svg") no-repeat center
    width 13px
    height 8px
    transition 0.5s
  &:active
  &.active
    &::after
      transform rotate(180deg)

  @media (min-width xl)
    height 45px

.select-options
  display none
  position absolute
  top 100%
  right 0
  left 0
  z-index 100
  background colorWhite
  box-shadow 0 0 30px rgba(0, 0, 0, 0.2)
  li
    padding 12px
    &:hover
    &:focus
      background #f2f4f6
    &[rel="hide"]
      display none

.form-wrapper
  margin-bottom 30px
  .form-group
    margin-bottom 0

  @media (min-width xl)
    display flex
    align-items center
    justify-content space-between
    margin-bottom 16px

.form-help
  font-family fontRegular
  font-size 12px
  line-height 1.167
  color colorBlack
  text-decoration underline
  margin-left auto
  &:hover
  &:focus
    color colorBlack
    text-decoration underline

  @media (min-width xl)
    font-size 14px

.form-example
  font-family fontBold
  font-size 14px
  line-height 1.43
  color colorGrey
  margin-top 5px

  @media (min-width xl)
    width 160px
    margin-top 0
    margin-left auto

.form-add
  font-family fontMedium
  font-size 14px
  line-height 1.43
  color colorGreen
  margin-top 5px

  @media (min-width xl)
    margin-top 0
    margin-left 160px

.login-social-text
  font-family fontRegular
  font-size 12px
  line-height 1.167
  text-transform uppercase
  color colorGreyTransparent50
  margin 30px 0 15px

  @media (min-width xl)
    font-size 14px

.login-social
  margin-bottom 20px

.social-link
  width 46px
  height 46px
  &+.social-link
    margin-left 13px

.login-text
  font-family fontRegular
  font-size 14px
  line-height 1.2
  color colorGrey

.login-link
  font-family fontMedium
  color colorBlack
  text-decoration underline
  &:hover
  &:focus
    color colorBlack
    text-decoration underline

.switch
  display flex
  height 47px
  background colorWhite
  border 1px solid colorGreyTransparent30
  border-radius 2px
  transition all 0.1s ease

  @media (min-width xl)
    height 48px

.switch-btn
  display none

.switch-label
  display flex
  align-items center
  justify-content center
  width 50%
  height 100%
  font-family fontMedium
  font-size 12px
  text-transform uppercase
  color colorBlack
  &:first-of-type
    border-radius 2px 0 0 2px
  &:last-of-type
    border-radius 0 2px 2px 0
  &:hover
    cursor pointer

  @media (min-width xl)
    font-size 13px

.switch-btn
  &:checked
    &+.switch-label
      color colorWhite
      background-color colorBlack

.tagsinput
  display flex
  align-items center
  flex-wrap wrap
  font-family fontRegular
  font-size 16px
  color colorBlack
  background transparent
  width 100%
  padding 0
  padding-bottom 10px
  border none
  border-bottom 1px solid colorGreyTransparent50
  border-radius 0
  .label
    margin 0 10px 0 0
  &:focus
    color colorBlack
    background transparent
    border-color colorBlack
  &::placeholder
    font-size 15px
    color colorGreyTransparent50
  div
    flex-grow 1

.tag-input
  display block
  width 100%
  border 0
  color colorGrey

.group-normal

  @media (min-width xl)
    align-items normal

.radio-group

  @media (min-width xl)
    .form-check
      margin-bottom 0
      &+.form-check
        margin-left 30px

.tariff-label

  @media (min-width xl)
    display flex
    justify-content space-between
    width 100%
    span
      width 45%
      margin 0

//** Search **//
.arrow-start
  display none

  @media (min-width xl)
    display block
    position absolute
    bottom 45%
    left -120px
    background url("../assets/images/arrow-curved.svg") no-repeat bottom center
    width 138px
    height 166px
    font-family fontItalic
    font-size 15px
    color colorGreen

.search
  padding 20px 15px 15px
  margin-bottom 30px

  @media (min-width xl)
    flex-direction row
    align-items flex-end
    justify-content space-between
    padding 46px 40px
    margin 160px 0 0

.search-switch
  border 1px solid #d4d3d4

  @media (min-width xl)
    width 30%
    height 50px

.search-label
  &:first-of-type
    border-right 1px solid #d4d3d4

.switch-btn
  &:checked
    &+.search-label
      color colorBlack
      background-color rgba(51, 51, 51, 0.1)

.search-container

  @media (min-width xl)
    width 67%

.form-custom
  display flex
  flex-direction column
  margin-top 30px

  @media (min-width xl)
    flex-direction row
    align-items flex-end
    margin-top 0

.search-form
  display flex
  align-items center
  margin-bottom 30px

  @media (min-width xl)
    width 445px
    margin-bottom 0

.custom-group

  @media (min-width xl)
    flex-grow 1
    margin-bottom 0

.custom-input
  height 35px
  margin-right 10px
  padding-bottom 0
  &::placeholder
    font-size 13px
  &:focus
    border-color colorGreyTransparent50

  @media (min-width xl)
    height 52px
    margin-right 30px
    &::placeholder
      font-size 15px

.btn-search
  flex-shrink 0
  width 35px
  height 35px
  background colorBlack url("../assets/images/search.svg") no-repeat center
  background-size 16px
  border-radius 2px

  @media (min-width xl)
    width 52px
    height 52px
    background-size 22px

.btn-filter
  svg
    margin-right 10px
  &:hover
  &:focus
    svg
      path
        fill colorBlack

  @media (min-width xl)
    display none

.btn-filter-submit

  @media (min-width xl)
    display none

//** Modal **//
.close:not(:disabled):not(.disabled):focus
.close:not(:disabled):not(.disabled):hover
  opacity 1

.close
  position absolute
  top 20px
  right 20px
  z-index 100
  background url("../assets/images/close.svg") no-repeat center
  width 14px
  height 14px
  opacity 1

.modal-dialog
  margin 0

  @media (min-width 576px)
    margin auto

.modal-content
  border 0
  border-radius 0
  padding 50px 0 30px

//** Filter **//
.filters
  display none

  @media (min-width xl)
    display block

.filter-top
  display flex
  align-items center
  justify-content space-between
  margin-bottom 20px
  h2
  .h2
    margin-bottom 0

.filter-reset
  font-family fontRegular
  font-size 14px
  color #c2c2c2
  &:hover
  &:focus
    color #c2c2c2

.accordion-item
  border-top 1px solid #ebebeb
  &:last-of-type
    border-bottom 1px solid #ebebeb
    margin-bottom 30px

.accordion-header
  display flex
  align-items center
  justify-content space-between
  cursor pointer
  padding 15px 0
  &[aria-expanded="true"]
    .accordion-icon
      transform rotate(180deg)

  @media (min-width xl)
    padding 20px 0

.accordion-icon
  background url("../assets/images/arrow-down.svg") no-repeat center
  width 13px
  height 8px
  flex-shrink 0
  transition 0.5s ease

.accordion-title
  position relative
  display flex
  align-items center
  font-family fontRegular
  font-size 16px
  line-height 1.18
  color colorBlack
  padding-right 20px

  @media (min-width xl)
    font-size 18px

.filter-group
  position relative
  margin 8px 0 16px

.filter-label
  font-family fontRegular
  font-size 14px
  line-height 1.43
  color colorGrey
  padding-left 35px
  &:before
  &:after
    position absolute
    content ""
    width 20px
    height 20px
    border-radius 2px
    background-color #e8ecef
    top 0
    left 0
    margin 0

.custom-check
  &:checked
    &~.filter-label
      &:before
        background-color colorGreen
      &:after
        left 7px
        top 4px
        width 7px
        height 10px
        border solid colorWhite
        border-width 0 3px 3px 0
        transform rotate(45deg)
        background-color transparent

.custom-check:not(:disabled):active~.filter-label::before
  background-color #e8ecef

.irs
  font-family fontMedium
  font-size 14px
  margin-top 20px

.irs--big .irs-line
  top 0
  height 6px
  background #f2f4f6
  border 0
  border-radius 1px

.irs--big .irs-bar
  top 0
  height 6px
  border 0
  background colorGreen
  box-shadow none

.irs--big .irs-handle
  top -4px
  width 14px
  height 14px
  border 0
  background colorWhite
  box-shadow 0 3px 5px rgba(0, 0, 0, 0.1)
  border-radius 100%

.irs--big .irs-handle.state_hover, .irs--big .irs-handle:hover
  background colorWhite

.irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single
  top 30px
  color colorBlack
  padding 0
  background none
  border-radius 0

//** Top **//
.section-index-top
  background url("../assets/images/bg-top-mobile.png") no-repeat top right

  @media (min-width xl)
    background url("../assets/images/bg-top.png") no-repeat top right
    height 672px
    padding-top 110px
    margin 0 0 45px

//** Partners **//
.partners
  position relative

.partner
  display flex
  flex-direction column
  align-items center
  cursor pointer
  &:hover
  &:focus
    img
      filter grayscale(0)
      opacity 1

.partner-img
  display flex
  align-items center
  justify-content center
  width 200px
  height 50px
  margin-bottom 15px
  img
    filter grayscale(1)
    opacity 0.4

  @media (min-width xl)
    height 70px
    margin-bottom 20px

.partners-nav-next,
.partners-nav-prev
  position absolute
  top 13px
  z-index 10
  width 1em
  font-size 24px
  color colorGrey
  opacity 0.2
  &:focus
    outline none

  @media (min-width xl)
    font-size 48px

.partners-nav-prev
  left 0

  @media (min-width xl)
    left -1em

.partners-nav-next
  right 0

  @media (min-width xl)
    right -1em

//** Reg **//
.reg-row
  align-items center
  margin-bottom 80px

  @media (min-width xl)
    margin-bottom 110px

.reg
  height 162px
  margin-bottom 20px

  @media (min-width xl)
    height 200px
    padding 30px
    margin-bottom 0

.reg-container
  width 181px

  @media (min-width xl)
    width 320px

.reg-green
  align-items flex-start

  @media (min-width xl)
    align-items flex-end

.reg-red
  align-items flex-end

.reg-img-green
  position absolute
  bottom 0
  right -6px
  background url("../assets/images/bg-green-right.png") no-repeat right
  width 93px
  height 153px

  @media (min-width xl)
    right auto
    left 14px
    background url("../assets/images/bg-green-left.png") no-repeat left
    width 164px
    height 218px

.reg-img-red
  position absolute
  bottom 14px
  left 0
  background url("../assets/images/bg-red-left.png") no-repeat left
  width 68px
  height 157px

  @media (min-width xl)
    bottom 6px
    left 40px
    background url("../assets/images/bg-red-right.png") no-repeat left
    width 106px
    height 246px

.reg-text
  font-family fontBold
  font-size 16px
  line-height 1.5
  margin-bottom 15px

  @media (min-width xl)
    font-size 20px
    margin-bottom 20px

.text-stat
  font-family fontBold
  font-size 18px
  line-height 1.4
  color colorBlack
  text-align center
  margin-bottom 0
  span
    font-size 36px

  @media (min-width xl)
    font-size 24px
    span
      font-size 48px

//** Feedback **//
.feedback-nav-next,
.feedback-nav-prev
  position absolute
  top 30%
  z-index 10
  width 1em
  font-size 24px
  color colorGrey
  opacity 0.2
  &:focus
    outline none

  @media (min-width xl)
    font-size 48px

.feedback-nav-prev
  left 0

.feedback-nav-next
  right 0

.feedback
  max-width 85%
  margin 0 auto
  text-align center

  @media (min-width xl)
    max-width 760px

.feedback-icon
  font-size 38px
  color colorGreyTransparent30
  margin-bottom 5px

  @media (min-width xl)
    font-size 48px
    margin-bottom 26px

.feedback-text
  font-family fontItalic
  font-size 14px
  line-height 2
  color colorBlack
  margin-bottom 15px

  @media (min-width xl)
    font-size 24px
    margin-bottom 26px

.client-img
  width 48px
  height 48px
  margin-bottom 15px

.client-name
  font-family fontBold
  font-size 18px
  line-height 1.4
  color colorBlack
  margin-bottom 10px

  @media (min-width xl)
    font-size 24px

.client-position
  font-family fontRegular
  font-size 14px
  line-height 1.7
  color colorGrey

  @media (min-width xl)
    font-size 18px

//** Subscribe **//
.section-subscribe
  margin-top 0
  background url("../assets/images/bg-bottom-mobile.png") no-repeat top
  background-size cover

  @media (min-width xl)
    background url("../assets/images/bg-bottom.png") no-repeat top
    background-size cover
    height 582px
    margin-bottom 0
    &+footer
    &+.footer
      position absolute
      bottom 0
      left 0
      right 0

.subscribe-img
  margin 12px 0 40px

  @media (min-width xl)
    margin 58px 0 0

.subscribe

  @media (min-width xl)
    margin-top 134px

//** Vacancy **//
.vacancy

  @media (min-width xl)
    flex-direction row
    .btn
      margin 37px 0 0 auto

.vacancy-container
  margin-bottom 15px

  @media (min-width xl)
    margin-bottom 0
    margin-right 3%
    max-width 55%

.vacancy-editable-container
  margin-bottom 0

.vacancy-employer-container

  @media (min-width xl)
    max-width 630px

.container-top

  @media (min-width xl)
    padding-bottom 30px
    border-bottom 1px solid #ebebeb
    margin-bottom 30px

.job-container
  display flex
  flex-direction column

  @media (min-width xl)
    flex-direction row
    align-items center

.job-wrapper
  margin-bottom 15px

  @media (min-width xl)
    flex-grow 1
    margin-bottom 0
    margin-right 28px

.job-title
  font-family fontBold
  font-size 20px
  line-height 1.4
  color colorBlack
  margin-bottom 15px

  @media (min-width xl)
    font-size 28px

.vacancy-editable
  padding-top 20px

  @media (min-width xl)
    padding-top 40px

.vacancy-logo
  display none

  @media (min-width xl)
    display flex
    align-items center
    justify-content center
    flex-shrink 0
    width 110px
    height 110px
    border 1px solid #e0e0e0
    margin-right 20px

.vacancy-logo-large

  @media (min-width xl)
    width 120px
    height 120px

.vacancy-like
  position absolute
  top 10px
  right 15px
  font-size 18px
  opacity 0.5

  @media (min-width xl)
    top 30px
    right 40px
    font-size 24px

.delete
  position absolute
  width 26px
  height 26px
  border 1px solid colorGreyTransparent30
  border-radius 2px
  background url("../assets/images/close.svg") no-repeat center
  background-size 8

  @media (min-width xl)
    width 32px
    height 32px
    background-size 12px

.vacancy-delete
  top 15px
  right 15px

  @media (min-width xl)
    top calc(50% - 16px)
    right 40px

.edit
  position absolute
  width 26px
  height 26px
  border 1px solid colorGreyTransparent30
  border-radius 2px
  background url("../assets/images/edit-black.svg") no-repeat center
  background-size 13px

  @media (min-width xl)
    width 32px
    height 32px
    background-size 16px

.vacancy-edit
  top 15px
  right 15px

  @media (min-width xl)
    top calc(50% - 16px)
    right 40px

.company-edit
  bottom 15px
  right 15px

  @media (min-width xl)
    bottom calc(50% - 16px)
    right 40px

.vacancy-top
  display flex
  flex-direction column

  @media (min-width xl)
    flex-direction row
    align-items center
    height 32px
    margin-bottom 5px

.date
  font-family fontRegular
  font-size 12px
  line-height 1.167
  color colorGreyTransparent50
  margin-bottom 15px
  i
    font-size 14px
    margin-right 7px
  &.job-date
    margin-bottom 10px

  @media (min-width xl)
    font-size 14px
    margin-bottom 0
    i
      font-size 18px
    &.job-date
      margin-bottom 0

.labels
  margin -5px

.label
  display inline-flex
  align-items center
  justify-content center
  align-self flex-start
  padding 9px 10px
  border-radius 4px
  background rgba(109, 210, 48, 0.08)
  font-family fontRegular
  font-size 12px
  color colorGreen
  margin 5px
  &:hover
  &:focus
    color colorGreen

  @media (min-width xl)
    padding 11px 10px
    font-size 14px

.label-single
  padding 9px 15px
  margin 0 0 10px 0

  @media (min-width xl)
    margin 0 0 0 20px

.label-partner
  align-self auto
  padding 10px 15px
  margin 0

.label-delete
  background url("../assets/images/close-green.svg") no-repeat center
  width 8px
  height 8px
  margin-left 12px

.vacancy-title
  font-family fontRegularAlt
  font-size 14px
  line-height 1.4
  color colorBlack
  margin-bottom 15px

  @media (min-width xl)
    font-size 18px

.vacancy-title-large

  @media (min-width xl)
    font-size 20px

.tags
  display flex
  align-items center

.tag
  display flex
  align-items center
  font-family fontRegular
  font-size 11px
  line-height 1.18
  color colorGrey
  &+.tag
    margin-left 20px
  i
    font-size 15px
    margin-right 4px

  @media (min-width xl)
    font-size 14px
    &+.tag
      margin-left 40px
    i
      font-size 18px
      margin-right 5px

.tag-time
  i
    color colorRed

.tag-employer
  i
    color colorOrange

.tag-city
  i
    color colorGreen

.tag-vacancy
  display flex
  align-items center
  &::before
    content ""
    background url("../assets/images/avatar-orange.svg") no-repeat center
    width 13px
    height 13px
    margin-right 4px

.actions
  display flex
  flex-direction column
  margin-bottom 30px

  @media (min-width xl)
    flex-direction row
    margin-bottom 0

.summary
  border-radius 2px
  padding 15px 20px 20px
  margin-bottom 30px

  @media (min-width xl)
    padding 20px
    box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
    margin-bottom 40px

.summary-edit
  background #fafafa
  border-radius 2px
  padding 15px 20px
  margin-bottom 0

  @media (min-width xl)
    padding 20px 20px 30px
    box-shadow 0 0 10px rgba(0, 0, 0, 0.1)
    margin-bottom 40px

.summary-top
  font-family fontRegularAlt
  font-size 16px
  line-height 1.4
  color colorBlack
  padding-bottom 15px
  border-bottom 1px solid rgba(0, 0, 0, 0.15)
  margin-bottom 15px

  @media (min-width xl)
    font-size 18px
    padding-bottom 20px
    margin-bottom 20px

.summary-top-edit
  font-family fontBold
  .title-edit
    margin-bottom 0

  @media (min-width xl)
    font-size 20px
    margin-bottom 15px

.summary-container
  display flex
  flex-direction column

  @media (min-width xl)
    flex-direction row

.summary-wrapper
  display flex
  flex-direction column
  &+.summary-wrapper
    margin-top 20px

  @media (min-width xl)
    width 50%
    &+.summary-wrapper
      margin-top 0

.summary-block
  &+.summary-block
    margin-top 20px

  @media (min-width xl)
    &+.summary-block
      margin-top 30px

.summary-title
  font-family fontMedium
  font-size 14px
  line-height 1.43
  color colorBlack

  @media (min-width xl)
    font-size 16px

.summary-text
  font-family fontRegular
  font-size 14px
  line-height 1.43
  color colorGrey

  @media (min-width xl)
    font-size 16px

.subsection
  margin-bottom 60px
  &:last-of-type
    margin-bottom 0

  @media (min-width xl)
    margin-bottom 40px

.summary-share
  font-family fontRegularAlt
  font-size 16px
  line-height 1.4
  color colorBlack
  margin-bottom 15px

  @media (min-width xl)
    font-size 18px

.share
  margin-bottom 40px

  @media (min-width xl)
    margin-bottom 50px

.share-link
  width 46px
  height 46px
  &+.share-link
    margin-left 15px

.employer-short

  @media (min-width xl)
    padding-top 40px
    border-top 1px solid rgba(0, 0, 0, 0.15)

//** Candidate **//
.candidate
  display flex
  flex-direction column

  @media (min-width xl)
    flex-direction row
    align-items center
    justify-content space-between

.candidate-container
  display flex
  margin-bottom 15px

  @media (min-width xl)
    flex-direction row
    align-items center
    justify-content space-between
    margin-bottom 0

.candidate-details
  display flex
  flex-direction column

  @media (min-width xl)
    flex-direction row
    align-items center
    justify-content space-between

.candidate-wrapper
  display flex
  flex-direction column
  justify-content space-between

.candidate-details-wrapper
  display flex
  margin-bottom 15px

  @media (min-width xl)
    margin-bottom 0

.candidate-details-body
  display flex
  flex-direction column
  justify-content space-between

.candidate-img
  width 70px
  height 70px
  margin-right 15px

  @media (min-width xl)
    width 65px
    height 65px
    margin-right 20px

.candidate-name
  font-family fontRegularAlt
  font-size 16px
  line-height 1.4
  color colorBlack
  margin-bottom 8px

  @media (min-width xl)
    font-size 20px
    margin-bottom 16px

.candidate-details-img
  width 80px
  height 80px
  margin-right 15px

  @media (min-width xl)
    width 65px
    height 65px
    margin-right 20px

.candidate-details-name
  font-family fontBold
  font-size 20px
  line-height 1.4
  color colorBlack
  margin-bottom 6px

  @media (min-width xl)
    margin-bottom 16px

.text-block
  margin-bottom 20px

  @media (min-width xl)
    margin 0 0 25px 25px

.test-headings
  display none

  @media (min-width xl)
    display flex
    align-items center
    justify-content space-between
    margin 30px 0 8px

.test-heading
  font-family fontRegular
  font-size 16px
  line-height 1.5
  color colorGrey
  &:last-of-type
    width 54%

.test
  display flex
  flex-direction column
  padding 20px 0
  border-top 1px solid #ebebeb
  &:last-of-type
    border-bottom 1px solid #ebebeb

  @media (min-width xl)
    flex-direction row
    align-items center
    justify-content space-between

.test-title
  font-family fontRegular
  font-size 16px
  line-height 1.18
  color colorBlack
  margin-bottom 15px

  @media (min-width xl)
    font-size 18px
    margin-bottom 0

.test-details-short
  display flex
  align-items center

  @media (min-width xl)
    width 160px

.test-details
  display flex
  align-items center

  @media (min-width xl)
    width 54%
    justify-content space-between

.test-rating
  font-family fontMedium
  font-size 18px
  color colorBlack
  margin-right 8px

.test-label
  padding 3px 6px
  background colorGreen
  border-radius 4px
  font-family fontRegular
  font-size 12px
  color colorWhite

  @media (min-width xl)
    padding 4px 6px

.test-link
  font-family fontMedium
  font-size 12px
  text-transform uppercase
  text-decoration underline
  color colorGreen
  &:hover
  &:focus
    color colorGreen
    text-decoration underline
  &.test-repeat
    margin-left auto
    color colorBlack

  @media (min-width xl)
    font-size 13px
    margin-left auto

//** Employers list **//
.search-wrapper
  margin-bottom 30px

  @media (min-width xl)
    display flex
    align-items center
    justify-content space-between
    margin-bottom 40px
    h1
      margin-bottom 0

.references
  font-family fontRegular
  font-size 18px
  line-height 1.78
  text-transform uppercase
  letter-spacing 0.2em
  text-align justify
  color colorBlack
  a
    &:hover
    &:focus
      color colorRed
      border-bottom 1px solid colorRed

  @media (min-width xl)
    line-height 1.5
    letter-spacing 0.1em

.employers
  font-family fontRegular
  font-size 14px
  line-height 2.29
  color colorBlack
  li
    &+.employers-letter
      margin-top 30px
  a
    &:hover
    &:focus
      color colorRed

  @media (min-width 576px)
    columns 2

  @media (min-width lg)
    columns 3

  @media (min-width xl)
    columns 4

.employers-letter
  font-family fontBold
  font-size 26px
  line-height 1.4
  color colorBlack
  margin-bottom 15px

//** Employer **//
.employer
  flex-direction row
  padding-bottom 48px

  @media (min-width xl)
    align-items center
    padding-bottom 40px

.employer-container
  display flex
  flex-direction column

  @media (min-width xl)
    margin-right 5%

.employer-details
  display flex
  flex-direction column

  @media (min-width xl)
    flex-direction row

.employer-details-wrapper
  position relative
  display flex
  padding-bottom 42px

  @media (min-width xl)
    margin-right 5%
    padding-bottom 0

.employer-logo
  display flex
  align-items center
  justify-content center
  flex-shrink 0
  width 70px
  height 70px
  border 1px solid #e0e0e0
  margin-right 15px

  @media (min-width xl)
    width 110px
    height 110px
    margin-right 20px

.employer-details-logo
  display flex
  align-items center
  justify-content center
  flex-shrink 0
  width 80px
  height 80px
  border 1px solid #e0e0e0
  margin-right 15px

  @media (min-width xl)
    width 120px
    height 120px
    margin-right 20px

.employer-name
  font-family fontRegularAlt
  font-size 16px
  line-height 1.4
  color colorBlack

  @media (min-width xl)
    font-size 20px
    margin-bottom 15px

.employer-details-name
  font-family fontBold
  font-size 18px
  line-height 1.4
  color colorBlack

  @media (min-width xl)
    font-size 28px
    margin-bottom 20px

.employer-tags
  position absolute
  bottom 20px
  left 15px

  @media (min-width xl)
    position relative
    bottom auto
    left auto

.employer-details-tags
  position absolute
  bottom 15px
  left 0

  @media (min-width xl)
    position relative
    bottom auto
    left auto

//** Services **//
.service
  padding 0 20px 20px
  border-radius 0

  @media (min-width xl)
    padding 0 25px 25px

.service-header
  display flex
  align-items center
  height 84px

  @media (min-width xl)
    height 91px

.service-img
  flex-shrink 0
  max-width 43px
  max-height 49px
  margin-right 15px

  @media (min-width xl)
    max-width 100%
    max-height 100%

.service-title
  font-family fontBold
  font-size 22px
  line-height 1.4
  color colorBlack

  @media (min-width xl)
    font-size 24px

.service-price
  font-family fontBold
  font-size 16px
  line-height 1.4
  color colorGreen
  margin 10px 0
  span
    font-size 30px

  @media (min-width xl)
    font-size 20px
    margin 15px 0 35px
    span
      font-size 36px

//** Profile dashboard **//
.stat
  padding 20px
  text-align center

  @media (min-width xl)
    padding 20px 40px
    margin-bottom 0

.stat-number
  font-family fontBold
  font-size 40px
  margin-bottom 15px

  @media (min-width xl)
    font-size 48px
    margin-bottom 20px

.stat-graph
  margin-top 20px

  @media (min-width xl)
    margin-top 30px

.action
  padding-right 50px

  @media (min-width xl)
    flex-direction row
    align-items center
    padding 22px 30px 22px 24px

.action-icon
  display none

  @media (min-width xl)
    display block
    width 22px
    height 22px
    background-repeat no-repeat
    background-position center

.action-refresh
  background-image url("../assets/images/refresh.svg")

.action-resume
  background-image url("../assets/images/id-card.svg")

.action-profile
  background-image url("../assets/images/avatar-black.svg")

.action-favorite
  background-image url("../assets/images/heart.svg")

.action-content

  @media (min-width xl)
    padding-left 20px
    border-left 1px solid #ebebeb
    margin-left 20px

.action-text
  font-family fontRegular
  font-size 16px
  line-height 1.37
  color colorBlack
  margin-bottom 7px
  span
    color colorGreen

  @media (min-width xl)
    font-size 18px
    margin-bottom 5px

.action-time
  font-family fontRegular
  font-size 12px
  line-height 1.33
  color colorGreyTransparent50

  @media (min-width xl)
    font-size 14px

.action-delete
  top calc(50% - 13px)
  right 15px

  @media (min-width xl)
    top calc(50% - 16px)
    right 30px

//** Profile **//
.profile
  display flex
  align-items center
  margin-bottom 20px

  @media (min-width xl)
    margin-bottom 30px

.profile-fill
  margin-bottom 20px

  @media (min-width xl)
    margin-bottom 30px

.fill-status
  display flex
  align-items center
  justify-content space-between
  font-family fontRegular
  font-size 14px
  line-height 1.5
  color colorBlack
  margin-bottom 5px

  @media (min-width xl)
    font-size 16px

.fill-bar
  position relative
  height 6px
  background #f2f4f6
  border-radius 1px

.fill-progress
  position absolute
  top 0
  left 0
  right 30%
  height 6px
  background colorGreen
  border-radius 1px

.profile-img
  width 60px
  height 60px
  margin-right 15px

  @media (min-width xl)
    width 65px
    height 65px
    margin-right 20px

.profile-title
  font-family fontBold
  font-size 20px
  line-height 1.4
  color colorBlack

.profile-links
  display none
  padding 1px 20px 8px
  background colorWhite
  border-radius 2px
  box-shadow 0 2px 30px rgba(0, 0, 0, 0.1)
  margin-bottom 60px
  li
    &.active
      a
        color colorGreen
        svg
          path
            fill colorGreen

  @media (min-width lg)
    display block
    padding 0
    box-shadow none
    margin-bottom 0
    li
      &:last-of-type
        margin-top 15px
        border-top 1px solid #ebebeb
        padding-top 15px

.profile-link
  display flex
  margin 25px 0
  font-family fontRegular
  font-size 16px
  line-height 1.18
  color colorBlack
  &:hover
  &:focus
    color colorGreen
    svg
      path
        fill colorGreen
  svg
    width 16px
    height 16px
    margin-right 10px

  @media (min-width xl)
    margin 30px 0
    font-size 18px
    svg
      width 18px
      height 18px
      margin-right 15px

.profile-dropdown-links
  margin-bottom 60px

  @media (min-width lg)
    display none

.dropdown-links
  top 0
  z-index 100
  width 100%
  margin 0
  border 0
  padding 45px 20px 0
  border-radius 0 0 2px 2px
  background colorWhite
  box-shadow 0 2px 30px rgba(0, 0, 0, 0.1)
  margin-bottom 60px
  li
    &:first-of-type
      border-top 1px solid colorGreyTransparent30
    &.active
      a
        color colorGreen
        svg
          path
            fill colorGreen

.dropdown-link
  position relative
  z-index 1000
  align-items center
  height 45px
  padding 10px 20px
  border-radius 2px
  box-shadow 0 2px 30px rgba(0, 0, 0, 0.1)
  &::after
    content ""
    background url("../assets/images/arrow-down.svg") no-repeat center
    width 12px
    height 8px
    margin-left auto
  &[aria-expanded='true']
    border-radius 2px 2px 0 0
    &::after
      transform rotate(180deg)

.avatar-upload
  position relative
  display inline-block
  margin 60px 0

  @media (min-width xl)
    margin 0 0 30px

.avatar-edit
  position absolute
  bottom 0
  left 0
  right 0
  z-index 1

.file-custom
  display none

.file-label
  display flex
  align-items center
  justify-content center
  width 100%
  height 45px
  background rgba(0, 0, 0, 0.7)
  cursor pointer
  font-family fontRegular
  font-size 14px
  color colorWhite
  &::before
    content ""
    background url("../assets/images/edit.svg") no-repeat center
    width 16px
    height 16px
    background-size contain
    margin-right 10px

  @media (min-width xl)
    height 30px
    font-size 13px
    &::before
      width 12px
      height 12px
      margin-right 4px

.video-label
  background #fafafa
  border-radius 4px
  border 1px dashed colorGreyTransparent30
  font-family fontMedium
  font-size 12px
  text-transform uppercase
  color colorRed
  &::before
    content ""
    background url("../assets/images/youtube-play-button.svg") no-repeat center
    width 20px
    height 20px
    margin-right 10px

  @media (min-width xl)
    height 60px
    font-size 13px

.avatar-preview
  width 290px
  height 290px
  position relative
  background #f2f4f6

  @media (min-width xl)
    width 160px
    height 160px

#imagePreview
  width 100%
  height 100%
  background-size cover
  background-repeat no-repeat
  background-position center

.title-edit
  display flex
  align-items center
  margin-bottom 15px
  h3
  .h3
    margin-bottom 0

  @media (min-width xl)
    margin-bottom 20px

.profile-edit
  background url("../assets/images/edit-green.svg") no-repeat center
  width 22px
  height 17px
  margin-left 10px

  @media (min-width xl)
    margin-left 15px

.profile-actions
  margin-top 30px

  @media (min-width xl)
    margin-top 40px
    margin-left 160px

//** Editor **//
.trumbowyg-box
.trumbowyg-editor
  border 0
  border-bottom 0
  min-height auto
  margin 0
  overflow auto

.trumbowyg-editor
  font-size 16px
  line-height 1.4
  color colorBlack
  border-bottom 1px solid colorGreyTransparent50
  p
    margin-bottom 0

.trumbowyg-button-pane
  display flex
  justify-content space-between
  max-width 365px
  min-height 30px
  border 1px solid #d7e0e2
  border-radius 3px
  margin 0
  padding 0

  @media (min-width lg)
    min-height 36px

.trumbowyg-button-pane .trumbowyg-button-group
  display contents

.trumbowyg-button-pane .trumbowyg-button-group::after
  height 30px
  margin 0

  @media (min-width lg)
    height 36px

.trumbowyg-button-pane::after
  content none

.trumbowyg-button-pane button
  width 28px
  height 30px
  padding 0!important
  margin-bottom 0

  @media (min-width lg)
    width 36px
    height 36px

.trumbowyg-editor, .trumbowyg-textarea
  padding 20px 0 15px
  min-height auto

  @media (min-width lg)
    padding 15px 0

.trumbowyg-editor[contenteditable=true]:empty:not(:focus)::before
  font-size 15px
  color colorGreyTransparent50

.trumbowyg-box svg, .trumbowyg-modal svg

  @media (min-width lg)
    width 20px